version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: ecommerce_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: colecionai
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
